<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opendatakit.tables"
    android:versionCode="127"
    android:versionName="1.664" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <permission
        android:name="org.opendatakit.tables.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.opendatakit.tables.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:name="org.opendatakit.tables.application.Tables"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_app"
        android:installLocation="auto"
        android:label="@string/app_namechange"
        android:largeHeap="true"
        android:theme="@style/InvertTables" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA4GnMQJ3G92sqWSh0AiW9phXvscAvj9Bk" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <!-- TODO: shouldn't this be established by androidcommon directly -->
        <provider
            android:name="org.opendatakit.tables.provider.TablesProvider"
            android:authorities="org.opendatakit.common.android.provider.tables"
            android:exported="true"
            android:initOrder="2"
            android:syncable="false" />

        <activity
            android:name=".activities.Launcher"
            android:label="@string/app_namechange" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.opendatakit.table" />
                <data android:mimeType="vnd.android.cursor.item/vnd.opendatakit.table" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.opendatakit.tables.activities.Launcher" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Login"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.ThongTinTrungActivity" />
        <activity android:name=".activities.KeHoachVeSinhActivity" />
        <activity
            android:name=".activities.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TableDisplayActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.opendatakit.tables.activities.TableDisplayActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TableLevelPreferencesActivity" />
        <activity android:name=".activities.AccountInfoActivity" />
        <activity android:name=".activities.KeHoachNuocActivity" />
        <activity
            android:name=".activities.ThayDoiUrLActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.DisplayPrefsActivity" />
        <activity android:name=".activities.TablePropertiesManager" />
        <activity android:name=".activities.ThongTinDuLieuActivity" />
        <activity android:name=".activities.ImportCSVActivity" />
        <activity android:name=".activities.TmTenActivity" />
        <activity
            android:name=".activities.CapNhatDuLieuActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.ExportCSVActivity" />
        <activity android:name=".activities.AboutWrapperActivity" />
        <activity
            android:name=".activities.AndroidShortcuts"
            android:label="@string/shortcut_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>