.um-col-name {
  width: 250px; }

.um-col-email {
  width: 200px; }

.um-col-usertype {
  width: 150px; }

.um-col-province {
  width: 150px; }

.um-col-district {
  width: 150px; }

.aui select {
  width: 160px; }

