*{padding:0; margin:0}

#wrapperSubMenu { font-size: 12px; font-family: Arial, sans-serif}
a {color: inherit; text-decoration: none;}
.clear {clear: both;}



/*---Sub menu---*/
.navSubMenu {font-size: 13px; margin-top: 10px; border-top: 1px solid #ccc}
.navSubMenu ul li {list-style: none; width: 100%; border-bottom: 1px solid #ccc; padding: 11px 0}
.navSubMenu ul li>a {color: #000000;}
.navSubMenu ul li>a:hover {color: #000000; text-decoration: none;}
.active2SubMenu {color: #075fb6; font-weight: bold; background-image: url(active2.png); background-repeat: repeat-y;}
.ntSubMenu { width: 100%;}
.navSubMenu ul li:hover {color: #075fb6; font-weight: bold; background-image: url(active2.png); background-repeat: repeat-y;}
.subnavSubMenu {float: left}
.numnavSubMenu {border: 1px solid #a3dde9; float: right; padding: 2px 5px; margin: -3px 5px 0 0; border-radius: 5px; background-color: #d9edf8; vertical-align: middle; text-align: center; color: #3663c0; font-weight: bold; position: relative; z-index: 1; vertical-align: baseline;}

.ulSubMenu{
	margin: 0 !important;
	min-height: 450px !important;
height: 100% !important;
}
.aui .navbar{
	margin-bottom: 0px !important;
}
/*-----MAIN-----*/
article {position: relative; padding-bottom: 10px;}
.leftSubMenu {width: 100%; border-right: 1px solid #ccc; height: 100%;}
.aui form{
	margin:0px !important;
}

.status-bm-da-ket-thuc-dieu-tra-0{
	border: 1px solid #FF0000;
	border-radius: 5px;
	color: #FF0000;
	padding: 2px 10px 2px 0px;
	text-align: center;
}
.status-bm-da-ket-thuc-dieu-tra-1{
	border: 1px solid #0066FF;
	border-radius: 5px;
	color: #0066FF;
	padding: 2px 10px 2px 0px;
	text-align: center;
}
.status-bm-da-ket-thuc-dieu-tra-2{
	border: 1px solid #FF9933;
	border-radius: 5px;
	color: #FF9933;
	padding: 2px 10px 2px 0px;
	text-align: center;
}
.status-bm-da-ket-thuc-dieu-tra-3{
	border: 1px solid #000000;
	border-radius: 5px;
	color: #000000;
	padding: 2px 10px 2px 0px;
	text-align: center;
}
.status-bm-da-ket-thuc-dieu-tra-0 a{
	color: #FF0000 !important;
}
.status-bm-da-ket-thuc-dieu-tra-1 a{
	color: #0066FF !important;
}
.status-bm-da-ket-thuc-dieu-tra-2 a{
	color: #FF9933 !important;
}
.status-bm-da-ket-thuc-dieu-tra-3 a{
	color: #000000 !important;
}