.aui select, .aui input[type="file"] {
  height: 30px !important; }

.aui .btn {
  padding: 3px 12px !important; }

.control-group-inline {
  width: 100%; }

.input50 {
  max-width: 400px;
  width: 100% !important;
  margin-bottom: 0px; }

.input100 {
  width: 480px !important;
  max-width: 600px !important;
  width: 90% !important;
  margin-bottom: 0 !important; }

.input1001 {
  max-width: 110px;
  width: 90% !important;
  margin-bottom: 0 !important; }

.inputCbx1001 {
  max-width: 480px;
  width: 100% !important;
  margin-bottom: 0 !important; }

.inputArea1001 {
  max-width: 480px;
  width: 100% !important;
  height: 80px !important;
  margin-bottom: 0 !important; }

.aui .input-small {
  display: none !important; }

.aui .help-inline {
  display: block !important; }

.aui .radio.inline, .aui .checkbox.inline {
  padding-top: 0px !important;
  margin-left: 10px !important; }

.btnTop {
  margin-top: 25px !important; }

.aui .table thead th {
  text-align: center !important; }

.textRight {
  text-align: right !important; }

.textLeft {
  text-align: left !important; }

.form-validator-stack.help-inline {
  margin-top: -56px !important;
  text-align: right !important; }

.input-medium {
  max-width: 466px;
  width: 100% !important;
  margin-bottom: 0 !important; }

.aui .radio input[type="radio"], .aui .checkbox input[type="checkbox"] {
  margin-left: -30px !important; }

#us2 {
  margin-top: 40px !important; }

